<div class="container-fluid bg-p-options h-custom mb-custom d-flex align-items-center justify-content-center">
  <div class="form shadow-lg p-5">
    <h3 class="text-center monsterrat heading-color semiBold mb-3">Forgot your password?</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "occupants/shared/error_messages", resource: resource %>

      <div class="form-floating mb-3">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
        <%= f.label :email %>
        <% if resource.errors[:email].present? %>
          <% resource.errors[:email].each do |error| %>
            <p class="validation">Email <%= error %>.</p>
          <% end %>
        <% end %>
      </div>

      <div class="actions d-flex align-items-content justify-content-center mb-3">
        <%= f.submit "Reset password" %>
      </div>
    <% end %>

  <div class="links text-center quicksand grey"><%= render "occupants/shared/links", style: "text-decoration: none;" %></div>
  </div>
</div>