<div class="container-fluid bg-p-options h-custom mb-custom d-flex align-items-center justify-content-center">
  <div class="form shadow-lg p-5">
    <h3 class="text-center monsterrat heading-color semiBold mb-3">Change Password</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%#= render "owners/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-floating mb-3">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true, autocomplete: "new-password" %>
        <%= f.label :password, "New password" %>
        <% if resource.errors[:password].present? %>
          <% resource.errors[:password].each do |error| %>
            <p class="validation">Password <%= error %>.</p>
          <% end %>
        <% end %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "new-password" %>
        <%= f.label :password_confirmation, "Confirm new password" %>
        <% if resource.errors[:password_confirmation].present? %>
          <% resource.errors[:password_confirmation].each do |error| %>
            <p class="validation">Password confirmation <%= error %>.</p>
          <% end %>
        <% end %>
      </div>

      <div class="actions d-flex align-items-content justify-content-center mb-3">
        <%= f.submit "Change my password" %>
      </div>
    <% end %>

    <div class="links text-center quicksand grey"><%= render "owners/shared/links", style: "text-decoration: none;" %></div>
  </div>
</div>
