<div class="container-fluid bg-p-options h-custom mb-custom d-flex align-items-center justify-content-center">
  <div class="form shadow-lg p-5">
    <h3 class="text-center monsterrat heading-color semiBold mb-3">Edit Profile</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "owners/shared/error_messages", resource: resource %>

      <div class="form-floating mb-3">
        <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
        <%= f.label :name %>
      </div>

      <div class="form-floating mb-3">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autocomplete: "email" %>
        <%= f.label :email %>
      </div>

      <div class="form-floating mb-3">
        <%= f.number_field :contact, class: "form-control", placeholder: "Contact", pattern: "[0-9]{10}" %>
        <%= f.label :contact %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-floating mb-3">
          <%= f.password_field :password, class: "form-control", placeholder: "New Password", autocomplete: "new-password" %>
          <%= f.label :password %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "new-password" %>
        <%= f.label :password_confirmation %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :current_password, class: "form-control", placeholder: "Current Password", autocomplete: "current-password" %>
        <%= f.label :current_password %> <i>(enter your current password to confirm your changes)</i>
      </div>

      <div class="actions d-flex align-items-content justify-content-center mb-3">
        <%= f.submit "Save Changes" %>
      </div>
    <% end %>

    <div class="links text-center quicksand grey">
      <%= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %><br />
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
