<div class="container-fluid h-custom mb-custom p-5 bg-repeat"
  data-controller="results"
  data-results-coordinates-value="<%= @center.to_json %>"
  data-results-rooms-value="<%= @rooms.to_json %>"
  >
  <%= form_with(url: results_map_url, method: :get, class:"results-map-form") do |f| %>
    <p class="monsterrat heading-color text-uppercase text-center" style="font-weight: 500;">Advanced search</p>
    
    <div class="form-floating mb-3">
      <%= f.text_field :place, placeholder: "UP Manila", value: params[:place], class: "form-control quicksand" %>
      <%= f.label :place, 'Place or Landmark', style: "display: block", class: "quicksand grey" %>
    </div>

    <div class="slidecontainer">
      <p>Max Distance: <span data-results-target="distance"></span>km</p>
      <%= f.range_field :distance, in: 1..20, class: "slider", value: @distance,
        data: { results_target: "distanceSlider" } %>
    </div>
    
    <div class="slidecontainer">
      <p>Max Rent: ₱<span data-results-target="rent"></span></p>
      <%= f.range_field :rent, in: 1000..20000, step: 100, class: "slider", value: @rent,
        data: { results_target: "rentSlider" } %>
    </div>

    <%= f.submit :Continue, style: "display: block", class: "mx-auto submit" %>
  <% end %>
  <div data-results-target="mapDiv" style="height: 100%" class="rounded shadow-lg w-100"></div>
</div>