<div style="height: 80vh;" class="w-75 mt-3 mx-auto"
  data-controller="results"
  data-results-coordinates-value="<%= @center.to_json %>"
  data-results-rooms-value="<%= @rooms.to_json %>"
  >
  <%= form_with(url: results_map_url, method: :get, class:"results-map-form") do |f| %>
    <p>Advanced search</p>
    
    <div>
      <%= f.label :place, "Landmark", style: "display: block" %>
      <%= f.text_field :place, placeholder: "UP Manila", value: params[:place] %>
    </div>

    <div class="slidecontainer">
      <p>Max Distance: <span data-results-target="distance"></span>km</p>
      <%= f.range_field :distance, in: 1..20, class: "slider", value: @distance,
        data: { results_target: "distanceSlider" } %>
    </div>
    
    <div class="slidecontainer">
      <p>Max Rent: ₱<span data-results-target="rent"></span></p>
      <%= f.range_field :rent, in: 1000..20000, step: 100, class: "slider", value: @rent,
        data: { results_target: "rentSlider" } %>
    </div>

    <%= f.submit :continue, style: "display: block" %>
  <% end %>
  <div data-results-target="mapDiv" style="height: 100%" class="w-100"></div>
</div>