<div class="container-fluid bg-p-options h-custom mb-custom d-flex align-items-center justify-content-center">
  <div class="form shadow-lg p-5">
    <h3 class="text-center monsterrat heading-color semiBold">Discover your home away from home.</h3>
    <h6 class="text-center quicksand grey" style="margin-bottom: 50px; padding: 0 75px;">Register to Dormie and start your dorm journey!</span></h6>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "occupants/shared/error_messages", resource: resource %>

      <div class="form-floating mb-3">
        <%= f.text_field :name, class: "form-control capitalize", placeholder: "Name", autofocus: true %>
        <%= f.label :name %>
      </div>

      <div class="form-floating mb-3">
        <%= f.email_field :email, class: "form-control", placeholder: "Email", autocomplete: "email" %>
        <%= f.label :email %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "new-password" %>
        <%= f.label :password %>
      </div>

      <div class="form-floating mb-3">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Name", autocomplete: "new-password" %>
        <%= f.label :password_confirmation %>
      </div>

      <div class="actions d-flex align-items-content justify-content-center mb-3">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <div class="links text-center quicksand grey"><%= render "occupants/shared/links" %></div>
  </div>
</div>