<div class="container-fluid">
  <div class="container-lg">
    <h1 class="text-center monsterrat heading-color semiBold">what we provide</span></h1>
    <h5 class="text-center quicksand grey">the Dormie way</span></h1>
    <div class="d-flex flex-row flex-wrap mt-5 justify-content-center mb-custom">
      <div class="services p-2 m-2 d-flex flex-column align-items-center shadow">
        <%= image_tag("landing_page/offer1.png", size: "200x200") %>
        <h5 class="monsterrat heading-color my-4 bold">online catalog</h5>
        <span class="quicksand grey text-center mx-3">with only one click, you may select from hundreds of spaces, make a reservation, and book your new residence.</span>
      </div>
      <div class="services p-2 m-2 d-flex flex-column align-items-center shadow">
        <%= image_tag("landing_page/offer2.png", size: "200x200") %>
        <h5 class="monsterrat heading-color my-4 bold">a home to call your own</h5>
        <span class="quicksand grey text-center mx-3">we make sure that your room serves as more than simply a location for you to stay; it's also a place you can call home, where you can unwind even while working.</span>
      </div>
      <div class="services p-2 m-2 d-flex flex-column align-items-center shadow">
        <%= image_tag("landing_page/offer3.png", size: "200x200") %>
        <h5 class="monsterrat heading-color my-4 bold">flexible rent terms and conditions</h5>
        <span class="quicksand grey text-center mx-3">your space is your call. utilize the terms and conditions that come with it to personalize your stay in your new home.</span>
      </div>
      <div class="services p-2 m-2 d-flex flex-column align-items-center shadow">
        <%= image_tag("landing_page/offer4.png", size: "200x200") %>
        <h5 class="monsterrat heading-color my-4 bold">integrated comfort</h5>
        <span class="quicksand grey text-center mx-3">our spaces are suitable places with features that meet your fundamental needs and provide you the comfort that you want.</span>
      </div>
      <div class="services p-2 m-2 d-flex flex-column align-items-center shadow">
        <%= image_tag("landing_page/offer5.png", size: "200x200") %>
        <h5 class="monsterrat heading-color my-4 bold">well-secured spaces</h5>
        <span class="quicksand grey text-center mx-3">for your protection, our residences include CCTV, housekeepers, and security guards you can trust.</span>
      </div>
    </div>
  </div>
</div>