<div class="container-fluid h-custom mb-custom bg-dashboard">
  <div class="container-lg d-flex py-4 h-100">
    <div class="w-60 mx-3 bg-white db-cont rounded shadow-lg">
      <div class="h-5 w-100 bg-heading d-flex db-main-links align-items-center justify-content-center"><%= link_to "+ ADD NEW LOCATION", new_location_path %></div>
      <div class="h-30 overflow-auto mt-4 px-4">
        <%= render "pages/dashboard/locations", locations: @locations %>
      </div>
      <div class="w-100 divider mt-4"></div>
      <div class="h-5 w-100 bg-heading d-flex db-main-links align-items-center justify-content-center">MAP PREVIEW</div>
      <div class="dashboard-map h-60">
        <%= render "maps/location_map", query: @locations.first.query %>
      </div>
    </div>
    <div class="w-40 mx-3 bg-white db-cont rounded shadow-lg">
      <div class="h-5 w-100 mb-3 bg-heading d-flex db-main-links align-items-center justify-content-center"><%= link_to "+ ADD ROOM", new_room_path %></div>
      <div class="px-4 overflow-auto h-100">
        <%= render "pages/dashboard/rooms", rooms: @rooms, locations: @locations %>
      </div>
    </div>
  </div>
</div>


