<div class="d-flex align-items-start justify-content-evenly w-100 mb-sr">
  <div style="width: 40%;">
    <div class="w-100 d-flex flex-column">
      <h3 class="monsterrat heading-color bold"><%= @room.name %></h3>
      <div class="d-flex align-items-center mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#59657c" aria-hidden="true" style="width: 15px; height: 15px;">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
        <%= link_to rooms_path(options_for_location(@room.location)), style: "text-decoration: none" do %>
          <span class="quicksand grey px-1" style="font-size: 15px;"><%= @room.location.name %>, <%= @room.location.city %></span>
        <% end %>
      </div>
      <p class="quicksand grey" style="font-size: 15px;" ><%= @room.description %></p>
      <div>
        <%= render "contact" %>
      </div>
    </div>
  </div>

  <div style="width: 40%;">
    <%= render "details" %>
    <div class="w-100 h-5 d-flex flex-wrap align-items-center justify-content-start mt-3">
      <% @tags.each do |tag| %>
        <div class="tag-img d-flex align-items-center justify-content-start" style="width: 33%;">
          <%= image_tag(tag.icon) if tag.icon %>
          <span class="quicksand light-grey mx-2" style="font-size: 15px;"><%= tag.name %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>