<div class="d-flex justify-content-between flex-grow-1">
  <div data-room-target="formBackdrop" data-action="click->room#hideForm" class="backdrop d-none"></div>
  <button data-action="click->room#showForm" class="adv-search rounded px-3 ms-2">Advanced Search</button>
  <div>
    <div>
      <% if @place.present? and @rooms.present? %>
        <span class="quicksand me-2">
          Found <%= pluralize(@rooms.size, "room") %> within <span class="heading-color" style="font-weight: 700;"><%= @distance %>km</span> of <span class="heading-color" style="font-weight: 700;"><%= @place.titleize %></span> (max rent: <span class="heading-color" style="font-weight: 700;"><%= number_to_currency(@rent, unit: "₱") %></span>)
        </span>
      <% elsif @place.present? %>
        <span class="quicksand me-2">
          No rooms within <span class="heading-color" style="font-weight: 700;"><%= @distance %>km</span> of <span class="heading-color" style="font-weight: 700;"><%= @place.titleize %></span> (max rent: <span class="heading-color" style="font-weight: 700;"><%= number_to_currency(@rent, unit: "₱") %></span>)
        </span>
      <% end %>
      <%= link_to "Show rooms on map", results_map_path(map_params), class: "view-results" %>
    </div>
  </div>
  <%= form_with(url: rooms_url, method: :get, data: { room_target: "form", action: "submit->room#hideForm" },
    class:"d-none search-form") do |f| %>
    <div class="form-floating mb-3">
      <%= f.search_field :place, placeholder: "enter a place or landmark",
        class: "form-control quicksand", spellcheck: false, required: true, value: params[:place] %>
      <%= f.label :place, 'Place or Landmark', style: "display: block", class: "quicksand grey" %>
    </div>

    <div class="slidecontainer">
      <p>Max Distance: <span data-room-target="distance"></span>km</p>
      <%= f.range_field :distance, in: 1..20, class: "slider", value: @distance,
        data: { room_target: "distanceSlider" } %>
    </div>
    
    <div class="slidecontainer">
      <p>Max Rent: ₱<span data-room-target="rent"></span></p>
      <%= f.range_field :rent, in: 1000..20000, step: 100, class: "slider", value: @rent,
        data: { room_target: "rentSlider" } %>
    </div>

    <div class="select-dd mb-5">
      <%= f.select(:sort, [
      ["Distance - nearest to farthest", "distance-asc"],
      ["Distance - farthest to nearest", "distance-desc"],
      ["Rent - lowest to highest", "rent-asc"],
      ["Rent - highest to lowest", "rent-desc"],
      ["Newest", "updated_at-desc"],
      ["Oldest", "updated_at-asc"],
      ], selected: selected, prompt: "All rooms") %>
    </div>

    <%= f.submit :Search, style: "display: block", class: "mx-auto submit" %>
  <% end %>
</div>