<form action="<%= rooms_url %>" method="get" id="sort-select-form">
  <input type="text" hidden value=<%= @place %> name="place">
  <select name="sort" id="sort" onchange="submitForm()">
    <option value="">Sorting options</option>
    <option value="rent-asc" <%= "selected" if params[:sort] == "rent-asc" %>>Rent - lowest to highest</option>
    <option value="rent-desc" <%= "selected" if params[:sort] == "rent-desc" %>>Rent - highest to lowest</option>
    <option value="updated_at-desc" <%= "selected" if params[:sort] == "updated_at-desc" %>>Newest</option>
    <option value="updated_at-asc" <%= "selected" if params[:sort] == "updated_at-asc" %>>Oldest</option>
  </select>
</form>
<script>
  const submitForm = () => document.getElementById("sort-select-form").submit()
</script>