<form action="<%= rooms_url %>" method="get" data-room-target="selectForm">
  <input type="text" hidden value="<%= @place %>" name="place">
  <input type="text" hidden value="<%= @distance %>" name="distance">
  <input type="text" hidden value="<%= @rent %>" name="rent">
  <select name="sort" id="sort" data-room-target="select" class="select-form-dd px-1 rounded quicksand grey bg-transparent shadow">
    <option value="">All rooms</option>
    <% if @place.present? %>
      <option value="distance-asc" <%= "selected" if params[:sort] == "distance-asc" %>>Distance - nearest to farthest</option>
      <option value="distance-desc" <%= "selected" if params[:sort] == "distance-desc" %>>Distance - farthest to nearest</option>
    <% end %>
    <option value="rent-asc" <%= "selected" if params[:sort] == "rent-asc" %>>Rent - lowest to highest</option>
    <option value="rent-desc" <%= "selected" if params[:sort] == "rent-desc" %>>Rent - highest to lowest</option>
    <option value="updated_at-desc" <%= "selected" if params[:sort] == "updated_at-desc" %>>Newest</option>
    <option value="updated_at-asc" <%= "selected" if params[:sort] == "updated_at-asc" %>>Oldest</option>
  </select>
</form>