<div class="container-fluid mh mb-custom py-3 bg-repeat" data-controller="room">
  <h3 class="text-center monsterrat heading-color semiBold p-3" >Rooms for Rent</h3>
  <div class="d-flex align-items-center justify-content-start mb-4" style="padding: 0px 5.5rem 0px 5.5rem;">
    <div class="d-flex align-items-center">
      <span class="monsterrat heading-color semiBold me-2">SORT BY</span>
      <%= render "select_form", selected: params[:sort] %>
    </div>
    <%= render "search_form",
      map_params: { place: params[:place], distance: @distance,
      rent: @rent }, selected: params[:sort] %>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <% @pagy_rooms.each do |room| %>
      <%= render "room", room: room %>
    <% end %>
  </div>
  <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
  <%== pagy_bootstrap_nav(@pagy) %>

  <%= turbo_frame_tag "room_images_frame", class: "images-frame d-none", data: { room_target: "images" } %>
  <div class="backdrop d-none" data-room-target="imagesBackdrop" data-action="click->room#hideImages"></div>
</div>
