<div class="container-fluid bg-repeat mb-custom py-4">
  <div class="container-lg">
    <div class="d-flex justify-content-end align-items-center mb-4">
      <% if owner_signed_in? and current_owner&.rooms.include?(@room) %>
        <%= button_to "Edit Room", edit_room_path(@room), class: "rs-button mx-2 py-1 px-3", method: :get %>
      <% end %>
    </div>
    <%= render "carousel" %>
    <div class="d-flex align-items-start justify-content-between w-100 mb-sr">
      <%= render "name_desc" %>
    </div>
    <div class="w-100 d-flex flex-row align-items-center justify-content-between mb-sr">
      <div style="width: 48%;"><%= render "rooms/details" %></div>
      <% if occupant_signed_in? or owner_signed_in? %>
        <div style="width: 48%;"><%= render "rooms/contact" %></div>
      <% else %>
        <div style="width: 48%; align-self: start;"><%= render "rooms/contact" %></div>
      <% end %>
    </div>
    <div class="w-100 mb-3">
      <h3 class="text-center monsterrat heading-color bold">Property Location</h3>
      <p class="text-center quicksand grey" style="font-size: 15px;">
        <%= @room.location.full_address %>
      </p>
    </div>
    <div class="mb-sr" style="width: 100%; height: 500px;">
      <iframe
        src="https://www.google.com/maps/place?q=<%= "#{@room.location.latitude},#{@room.location.longitude}" %>&output=embed"
        frameborder="0"
        width="100%"
        height="100%"
        class="rounded shadow">
      </iframe>
    </div>
    <div class="w-50 mb-3" style="font-size: 15px;">
      <%= turbo_frame_tag "room_review_frame" do %>
        <% if occupant_signed_in? and @review.nil? %>
          <%= render "reviews/form", room: @room, review: Review.new, show_cancel_button: false %>
        <% elsif occupant_signed_in? and @review.present? %>
          <%= render "reviews/editable_review", room: @room, review: @review %>
        <% end %>
      <% end %> 
    </div>
    <h3 class="text-center monsterrat heading-color bold mb-5">Room Reviews</h3>
    <div class="w-100 mb-3 <%= "review-grid" if @reviews.present? %>" style="font-size: 15px;">
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <%= render "reviews/review", review: review %>
        <% end %>
      <% else %>
        <p class="text-center quicksand grey mb-sr" style="font-size: 15px;">No reviews yet.</p>
      <% end %>
    </div>
  </div>
</div>
