<div class="mb-3 mx-3 p-3 review">
  <div class="d-flex flex-row align-items-center mb-3">
    <div class="me-3"><%= image_tag "https://api.dicebear.com/5.x/initials/svg?seed=#{review.occupant.name}&backgroundColor=3c529c&radius=50", style: "width: 40px; height: 40px;" %></div>
    <div>
      <p class="m-0 p-0 quicksand grey bold" style="font-size: 16px;"><%= review.occupant.name %></p>
      <div class="d-flex star">
        <% 5.times do |n| %>
          <%= image_tag "star.svg", class: "#{n < review.rating ? "active" : "inactive" }" %>
        <% end %>
      </div>
    </div>
    <p class="ms-auto p-0 quicksand grey"><%= review.updated_at.localtime.strftime("%B %Y") %></p>
  </div>
  <div class="quicksand grey px-2">
    <div class="semiBold"><%= review.title %></div>
    <p><%= review.comment %></p> 
  </div>
</div>