<div>
  <div class="d-flex fs-3">
    <% 5.times do |n| %>
      <% if n < review.rating %>
        <%= image_tag "star_active.svg" %>
      <% else %>
        <%= image_tag "star_inactive.svg" %>
      <% end %>
    <% end %>
  </div>
  <p><%= review.occupant.name %></p>
  <p><%= review.title %></p>
  <p><%= review.comment %></p>
  <p><%= review.updated_at.localtime.strftime("%B %d, %Y %H:%M") %></p>
</div>