<div class="form-md shadow-lg p-5">
  <h3 class="text-center monsterrat heading-color semiBold mb-5">New Location</h3>
  <%= form_with(model: location) do |f| %>
    <div data-controller="location">
      <p class="mb-1 ps-1 monsterrat" style="font-size: 0.9em;">What is the name of the property? <i style="font-size: 0.8em;">(e.g., Avion Residences, JY Dormitory, Casa Victoria)</i></p>
      <div class="form-floating mb-5">
        <%= f.text_field :name, class: "form-control",
          placeholder: "Name",
          autofocus: true,
          required: true,
          data: { location_target: "name", action: "input->location#map" }
        %>
        <%= f.label :name, style: "display: block" %>
      </div>

      <p class="mb-1 ps-1 monsterrat" style="font-size: 0.9em;">Where is the property located? <i style="font-size: 0.8em;">(e.g., 123, ABC Street, Barangay XYZ, Manila, Metro Manila)</i></p>
      <div class="d-flex mb-3" style="gap: 2%">
        <div class="form-floating" style="width: 35%">
          <%= f.text_field :unit, class: "form-control", placeholder: "Unit" %>
          <%= f.label :unit, "Unit No./House No./Bldg. No.", style: "display: block" %>
        </div>

        <div class="form-floating" style="width: 63%">
          <%= f.text_field :address_line, class: "form-control", placeholder: "Street", required: true %>
          <%= f.label :address_line, "Street/Avenue, Barangay", style: "display: block" %>
        </div>
      </div>

      <div class="d-flex mb-5" style="gap: 2%">
        <div class="form-floating" style="width: 49%">
          <%= f.text_field :city, class: "form-control",
            placeholder: "City",
            required: true,
            data: { location_target: "city", action: "input->location#map" }
          %>
          <%= f.label :city, style: "display: block" %>
        </div>
        <div class="form-floating" style="width: 49%">
          <%= f.text_field :province, class: "form-control",
            placeholder: "Province",
            required: true,
            data: { location_target: "province", action: "input->location#map" }
          %>
          <%= f.label :province, style: "display: block" %>
        </div>
      </div>

      <div class="p-3 mb-5 d-none" data-location-target="mapContainer">
        <div class="mb-3 d-flex align-items-center justify-content-between">
          <p class="m-0 ps-1 monsterrat semiBold">Is the marker correct?</p>
          <%= f.button "Adjust Marker", class: "rs-button py-1 px-3", formaction: marker_map_path, formmethod: :get %>
        </div>
        
        <div style="height: 400px">
          <%= f.text_field :latitude, hidden: true, value: lat,
            data: { location_target: "lat" } %>
          <%= f.text_field :longitude, hidden: true, value: lng,
            data: { location_target: "lng" } %>
          <iframe data-location-target="iframe"
            src=""
            frameborder="0"
            width="100%"
            height="100%"
            class="rounded">
          </iframe>
        </div>
      </div>
    
      <div class="actions d-flex align-items-content justify-content-center mb-3 w-75 mx-auto">
        <%= f.submit "Add Location", class: "btn",
          disabled: true,
          data: { location_target: "submit" } %>
      </div>
    </div>
  <% end %>
</div>
