<% if owner_signed_in? %>
  <p><%= current_owner.name %></p>
  <%= button_to "Logout", destroy_owner_session_path, method: :delete %>
<% elsif occupant_signed_in? %>
  <p><%= current_occupant.name %></p>
  <%= button_to "Logout", destroy_occupant_session_path, method: :delete %>
<% else %>
  <%= button_to "login", sign_in_path, method: :get, class: "nav-button" %>
<% end %>